@import "./mixins";
.header {
  &__burger {
    width: 44px;
    height: 37px;
    margin: 23px 0;
    background-color: #000;
    position: relative;
    left: calc(100% - 44px);

    @media (min-width: 768px) {
      display: none;
    }
  }

  &__burger-icon, &__burger-icon:after, &__burger-icon:before {
    position: absolute;
    left: calc(50% - 8.5px);
    top: calc(50% - 1px);
    width: 17px;
    height: 2px;
    background-color: #fff;
  }

  &__burger-icon:after {
    top: calc(50% - 6px);
  }

  &__burger-icon:before {
    top: calc(50% + 4px);
  }

  &__burger-icon:after, &__burger-icon:before {
    content: '';
  }

  &__burger-active {
    top: calc(50% - 7.5px);
    left: calc(50% - 7.5px);
    width: 15px;
    height: 15px;
    clip-path: polygon(10% 0, 0 10%, 40% 50%, 0 90%, 10% 100%, 50% 60%, 90% 100%, 100% 90%, 60% 50%, 100% 10%, 90% 0, 50% 40%);
  }

  &__img {
    width: 100%;
  }
}

.nav-menu {

  &__list {
    display: none;
    position: absolute;
    top: 36px;
    background-color: #f5f5f5;
    width: 182px;
    left: calc(100% - 210px);
    @media (min-width: 768px) {
      position: inherit;
      display: flex;
      justify-content: space-evenly;
      margin: 42px auto;
      width: 100%;
      background-color: #fff;
    }
  }

  &__list:first-child{
    color: #fff;
  }


  &__item {
    @include title;
    display: block;
    padding: 4px 0 1px 13px;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 1.1px;
    color: #4e4e4e;
  }

  &__item:hover {
    background-color: #e5e5e5;
  }
}


.active {
  display: block;
}



// .header {
//     &__burger {
//       width: 44px;
//       height: 37px;
//       margin: 23px 0;
//       background-color: #000;
//       position: relative;
//       left: calc(100% - 44px);
  
//       @media (min-width: 768px) {
//         display: none;
//       }
//     }
  
//     &__burger-icon, &__burger-icon:after, &__burger-icon:before {
//       position: absolute;
//       left: calc(50% - 8.5px);
//       top: calc(50% - 1px);
//       width: 17px;
//       height: 2px;
//       background-color: #fff;
//     }
  
//     &__burger-icon:after {
//       top: calc(50% - 6px);
//     }
  
//     &__burger-icon:before {
//       top: calc(50% + 4px);
//     }
  
//     &__burger-icon:after, &__burger-icon:before {
//       content: '';
//     }
  
//     &__burger-active {
//       top: calc(50% - 7.5px);
//       left: calc(50% - 7.5px);
//       width: 15px;
//       height: 15px;
//       clip-path: polygon(10% 0, 0 10%, 40% 50%, 0 90%, 10% 100%, 50% 60%, 90% 100%, 100% 90%, 60% 50%, 100% 10%, 90% 0, 50% 40%);
//     }
  
//     &__img {
//       width: 100%;
//     }
//   }

//   .nav-menu {

//     &__list {
//       display: none;
//       position: absolute;
//       top: 36px;
//       background-color: #f5f5f5;
//       width: 182px;
//       left: calc(100% - 210px);
//       @media (min-width: 768px) {
//         position: inherit;
//         display: flex;
//         justify-content: space-evenly;
//         margin: 42px auto;
//         width: 100%;
//         background-color: #fff;
//       }
//     }
  
  
//     &__item {
//       @include title;
//       display: block;
//       padding: 4px 0 1px 13px;
//       font-size: 11px;
//       line-height: 22px;
//       letter-spacing: 1.1px;
//       color: #4e4e4e;
//     }
  
    
//   }
  

// .active {
//   display: block;
// }